@inject HttpClient Http
@inject ITimeEntryService TimeEntryService
@inject IProjectService ProjectService
@implements IDisposable

<div class="form-group my-4">
    <InputSelect @bind-Value="projectId" @oninput="OnProjectChanged" class="form-select" TValue="int">
        <option value="0">All Projects</option>
        @foreach (var project in ProjectService.Projects)
        {
            <option value="@project.Id">@project.Name</option>
        }
    </InputSelect>
</div>
@code {
    private int projectId;

    protected override async Task OnInitializedAsync()
    {
        await ProjectService.GetProjects();
        ProjectService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        ProjectService.OnChange -= StateHasChanged;
    }

    private async Task OnProjectChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            if (int.TryParse(e.Value.ToString(), out int projectId))
            {
                await TimeEntryService.GetTimeEntriesByProject(projectId);
            }
        }
    }
}